extends ../layouts/main
include ../blocks/achievements/achievements
include ../blocks/architect/architect
include ../blocks/blog/blog
include ../blocks/experts/experts
include ../blocks/general/general
include ../blocks/service/service
include ../blocks/numbers/numbers
include ../blocks/experts/experts
include ../blocks/testimonials/testimonials

block content
  .page--main
    +general()
    +service()
    +portfolio()
    +numbers()
    +experts()
    +achievements()
    +blog()
    +testimonials()
    +architect()
