extends ../layouts/main
include ../blocks/achievements/achievements
include ../blocks/architect/architect
include ../blocks/blog/blog

block content
  +b.page--main 
    +achievements()
    +architect()
    +blog()