extends ../layouts/main
include ../blocks/achievements/achievements
include ../blocks/architect/architect
include ../blocks/blog/blog
include ../blocks/experts/experts
include ../blocks/general/general
include ../blocks/service/service

block content
  .page--main 
    +general()
    +service()
    +achievements()
    +architect()
    +blog()
    +experts()