mixin general()
    section.general
        .general__column
            h2.general__subtitle Architect for You
            h1.general__title
                | We Develop
                | Great Designs
    button.general__button(type='submit')
      img(src='../../../assets/images/button-contacts.svg' alt='Contacts')
    div
        img.general__main-illustration(src='../../../assets/images/Bitmap.png' alt='Chandelier')
        img.general__button-play(src='../../../assets/images/button-play.svg' alt='Button Play')
        button.general__button(type='submit')
            img.general__button-triangle(src='../../../assets/images/button-play-triangle.svg' alt='Button Play')
        img.general__shape(src='../../../assets/images/general-shape.svg' alt='shape')