mixin general()
  +b.SECTION.general
    +e.column
      +e.H3.subtitle Architect for You
      +e.H2.title
        | We Develop
        br
        | Great Designs
      +e.BUTTON.button(type='submit') Contacts us
    div 
      +e.IMG.main-illustration(src='../../../assets/images/Bitmap.png' alt='Chandelier')
      +e.IMG.button-play(src='../../../assets/images/button-play.svg' alt='Button Play')
      +e.button.button(type='submit')
        +e.IMG.button-triangle(src='../../../assets/images/button-play-triangle.svg' alt='Button Play')
      +e.IMG.shape(src='../../../assets/images/general-shape.svg' alt='shape')