mixin header()
  +b.HEADER.header
    +b.nav
      +e.BUTTON.menu(type='submit')
        +e.IMG(src='../../../assets/images/header/menu.svg')
    +e.IMG.logo(src='/assets/images/header/logo.svg' alt='Logo ARCH')
    +b.nav.social-icons
      +e.social-icon
        +e.A.icon(target='_blank' href='#')
          +e.IMG(src='../../../assets/images/header/facebook.svg' alt='Facebook')
      +e.social-icon
        +e.A.icon(target='_blank' href='#')
          +e.IMG(src='../../../assets/images/header/twitter.svg' alt='Twitter')
      +e.social-icon
        +e.A.icon(target='_blank' href='#')
          +e.IMG(src='../../../assets/images/header/instagram.svg' alt='Instagram')