mixin header()
  +b.header.header
    +b.nav
      +e.button.header__menu(type='submit')
        img(src='../../../assets/images/header/menu.svg')
    img.header__logo(src='/assets/images/header/logo.svg' alt='Logo ARCH')
    +b.nav.header__social-icons
      +e.header__social-icon
        a.header__icon(target='_blank' href='#')
          img(src='../../../assets/images/header/facebook.svg' alt='Facebook')
      +e.header__social-icon
        a.header__icon(target='_blank' href='#')
          img(src='../../../assets/images/header/twitter.svg' alt='Twitter')
      +e.header__social-icon
        a.header__icon(target='_blank' href='#')
          img(src='../../../assets/images/header/instagram.svg' alt='Instagram')