mixin numbers()
  +b.SECTION.numbers
    +b.DIV.wrapper
      +e.IMG.diagrams(src='../../../assets/images/numbers/42.png' alt='42%')
      +e.H2.title Architectural
    +b.DIV.wrapper
      +e.IMG.diagrams(src='../../../assets/images/numbers/73.png' alt='73%')
      +e.H2.title Construction
    +b.DIV.wrapper
      +e.IMG.diagrams(src='../../../assets/images/numbers/85.png' alt='85%')
      +e.H2.title Interior
    +b.DIV.wrapper
      +e.IMG.diagrams.--end(src='../../../assets/images/numbers/93.png' alt='93%')
      +e.H2.title Architectural