mixin experts()
  +b.SECTION.experts
    +e.text
      +e.H3.subtitle Our Experts
      +e.H2.title
        | Meet our
        br
        | passionate
        br
        | crew
      +e.nav.arrows
        +e.button.arrow_back.arrow_right(type='submit')
          IMG(src='../../../assets/images/service/back.svg' alt='back')
        +e.button.arrow_forward(type='submit')
          IMG(src='../../../assets/images/service/forward.svg' alt='forward')
    +e.cards
      div
        +e.IMG.card.card_right(src='../../../assets/images/experts/Tamas.png' alt='Tamas Bunce')
        +e.IMG.shape(src='../../../assets/images/experts/shape.svg' alt='shape')
        div
          +e.card_figcaption
            +e.H2.card_title Tamas Bunce
            +e.H3.card_subtitle Architect Designer
      div
        +e.IMG.card(src='../../../assets/images/experts/Jafaris.png' alt='Jafaris Long')
        div
          +e.card_figcaption
            +e.H2.card_title Jafaris Long
            +e.H3.card_subtitle Architect Designer
