mixin experts()
  +b.SECTION.experts
    +e.text
      +e.H3.subtitle Our Experts
      +e.H2.title
        | Meet our
        br
        | passionate
        br
        | crew
      +b.NAV.arrows--left
        +e.BUTTON.back.--right(type='submit')
          IMG(src='../../../assets/images/service/back.svg' alt='back')
        +e.BUTTON.forward(type='submit')
          IMG(src='../../../assets/images/service/forward.svg' alt='forward')
    +e.cards
      +b.ex-card.--right
        +e.IMG(src='../../../assets/images/experts/Tamas.png' alt='Tamas Bunce')
        div
          +e.figcaption
            +e.H2.title Tamas Bunce
            +e.H3.subtitle Architect Designer
      +b.ex-card
        +e.IMG(src='../../../assets/images/experts/Jafaris.png' alt='Jafaris Long')
        div
          +e.figcaption.--right
            +e.H2.title Jafaris Long
            +e.H3.subtitle Architect Designer
    +e.IMG.shape(src='../../../assets/images/experts/shape.svg' alt='shape')
