mixin blog()
  +b.SECTION.blog
    +e.text
      +e.H3.subtitle Blog Update
      +e.H2.title News &amp; Articles
    +e.cards
      +b.card--right
        +e.P.num 30
        +e.P.month October, 2021
        +e.H3.subtitle Interior
        +e.H2.title
          | Anyhow, and that will
          | be a rare experience
      +b.card--right
        +e.P.num 28
        +e.P.month October, 2021
        +e.H3.subtitle Interior
        +e.H2.title
          | Seems to me that a view
          | of the heavenly
      +b.card--right
        +e.P.num 25
        +e.P.month October, 2021
        +e.H3.subtitle Interior
        +e.H2.title
          | As well as a tour round
          | the world, should form
    +e.IMG.shape(src='../../../assets/images/general-shape.svg' alt='shape')
    +b.NAV.arrows
      +e.BUTTON.back.--right(type='submit')
        IMG(src='../../../assets/images/service/back.svg' alt='back')
      +e.BUTTON.forward(type='submit')
        IMG(src='../../../assets/images/service/forward.svg' alt='forward')
