mixin blog()
  +e.SECTION.blog
    +e.text
      +e.H3.subtitle Blog Update
      +e.H2.title News &amp; Articles
    +e.cards
      +e.card.card_right
        +e.P.card_num 30
        +e.P.card_month October, 2021
        +e.H3.card_subtitle Interior
        +e.H2.card_title
          | Anyhow, and that will
          | be a rare experience
      +e.card.card_right
        +e.P.card_num 28
        +e.P.card_month October, 2021
        +e.H3.card_subtitle Interior
        +e.H2.card_title
          | Seems to me that a view
          | of the heavenly
      +e.card.card_right
        +e.P.card_num 25
        +e.P.card_month October, 2021
        +e.H3.card_subtitle Interior
        +e.H2.card_title
          | As well as a tour round
          | the world, should form
        +e.IMG.shape(src='../../../assets/images/general-shape.svg' alt='shape')
    +e.NAV.arrows
      +e.BUTTON.arrow_back.arrow_right(type='submit')
        IMG(src='../../../assets/images/service/back.svg' alt='back')
      +e.BUTTON.arrow_forward(type='submit')
        IMG(src='../../../assets/images/service/forward.svg' alt='forward')
