mixin achievements()
  +b.SECTION.achievements
    +e.wrap
      +e.H2.subtitle--title Achievements
      +e.H1.title
        | Design, Followed By
        | Form &amp; Function
    div
      +e.IMG.main-illustration(src='../../../assets/images/achievements/Achievements.png' alt='Achievement')
      +e.text
        +e.text-one
          +e.IMG.text-one_num(src='../../../assets/images/achievements/42+.svg' alt='42+')
          +e.IMG.text-one_str(src='../../../assets/images/achievements/Project-finished.svg' alt='Project finished')
        +e.text-two
          +e.IMG.text-one_num(src='../../../assets/images/achievements/730.svg' alt='730')
          +e.IMG.text-one_str(src='../../../assets/images/achievements/Working-hours.svg' alt='Working-hours')
      +e.IMG.shape(src='../../../assets/images/general-shape.svg' alt='shape')
