section.achievements
  +b.achievements__wrap
    +e.h2.achievements__subtitle Achievements
    +e.h1.achievements__title
      | Design, Followed By
      | Form &amp; Function
  +b.div
    +e.img.achievements__main-illustration(src='./images/achievements/Achievements.png' alt='Achievement')
    +b.achievements__text
      +b.achievements__text-one
        +e.img.achievements__text-one_num(src='./images/achievements/42+.svg' alt='42+')
        +e.img.achievements__text-one_str(src='./images/achievements/Project-finished.svg' alt='Project finished')
      .achievements__text-two
        +e.img.achievements__text-one_num(src='./images/achievements/730.svg' alt='42+')
        +e.img.achievements__text-one_str(src='./images/achievements/Working-hours.svg' alt='Working-hours')
    +b.img.achievements__shape(src='./images/general-shape.svg' alt='shape')