mixin architect()
  section.architect
    h3.architect__subtitle Architect
    h2.architect__title
      | Do wait, get your
      | offer right now!
    button.architect__button(type='submit') Contact