.achievements
  display flex
  padding 128px 135px 200px
  background-color #D49E31

  &__main-illustration
    width 870px
    height 624px
    object-fit cover
    position relative
    margin 0
    padding 0
    z-index 2
    justify-content start

  &__wrap
    position absolute
    z-index 3
    text-align right
    margin-top 74px
    right 135px

  &__shape
    position absolute
    z-index 1
    width 176px
    height 176px
    right 450px
    bottom -4130px
    object-position right bottom
    object-fit cover
    margin 0
    padding 0

  &__text
    position relative
    z-index 2
    display flex
    flex-direction row
    margin-left 48px
    margin-top -180px

  &__subtitle
    font-size 18px
    line-height 32px
    font-weight 700
    margin 0
    padding 0
    padding-bottom 21px

  &__title
    font-size 72px
    line-height 80px
    font-weight 700
    margin 0
    padding 0
    padding-bottom 33px

  &__text-one
        display flex
        flex-direction column
        margin-right 118px

  &__text-one_num
    width 134px
    height 80px
    padding-bottom 10px

  &__text-one_str
    width 144px
    height 32px
