.architect
    background-image url(../../images/home.png)
    background-color #8b95c9
    padding 74px 422px 96px
    margin 0
    display flex
    flex-direction column
    justify-content center
    align-items center

    &__title
        font-size 72px
        line-height 80px
        font-weight 700
        z-index 2
        position relative
        margin 0
        padding 0
        padding-bottom 33px
        text-align center
        color white

    &__subtitle
        font-size 18px
        line-height 32px
        font-weight 700
        margin 0
        padding 0
        padding-bottom 21px
        text-align center
        color white

    &__button
        border-radius 28px
        border 0
        padding 12px 28px
        background-color #95C5C8
        align-items center