.experts
  display flex
  background-color #F7F2E2
  padding 144px 135px
  justify-content space-between 
  position relative
  z-index 1

  &__shape
    z-index 0
    position absolute
    width 176px
    height 176px
    left 550px
    bottom 100px 
    object-position left top
    object-fit cover
    margin 0
    padding 0

  &__subtitle
    font-size 18px
    line-height 32px
    font-weight 700
    margin 0
    text-align left
    padding-bottom 18px

  &__text
    margin-top 106px

  &__title
    font-size 56px
    line-height 64px
    font-weight 800
    margin 0
    padding 0
    padding-bottom 36px
    text-align left
  
  &__cards
    display flex
    flex-direction row

.ex-card   
  width 370px
  height 592px
  object-fit contain
  border-radius 20px
  
  &--right
    margin-right 30px

  &__figcaption
    width 370px
    height 160px
    background-color white
    border-radius 20px
    justify-content center
    margin-top -187px
    position relative
    z-index 1

    &--right
      margin-top -60px

  &__subtitle
    font-size 16px
    line-height 32px
    font-weight 400
    text-align left
    margin 19px 32px 36px
    color #333333

  &__title
    margin-top 40px
    margin-right 167px
    margin-left 32px
    text-align left
    padding-top 40px
    font-size 24px
    line-height 32px
    font-weight 700

.arrows
  display flex
  margin-top 48px
  justify-content center

  &--left
    justify-content flex-start

  &__back
    height 48px
    width 48px
    border-radius 100%
    border none

    &--right
      margin-right 8px

  &__forward
    height 48px
    width 48px
    border-radius 100%
    border none