.header
    display flex
    padding-left 135px
    padding-right 135px
    padding-top 16px
    padding-bottom 64px
    background-color #F7F2E2

.header__icon
    margin auto

.header__logo
    width 133px
    height 48px
    margin-left 16px

.header__menu
    height 48px
    width 48px
    border-radius 50%
    background-color white
    border none

.header__social-icon
    display flex
    height 48px
    width 48px
    border-radius 50%
    background-color white
    border none
    margin-right 8px
    &:last-child
        margin-right 0

.header__social-icons
    display flex
    margin auto
    margin-right 0
    flex-direction row