.service
  display flex
  padding-left 135px
  padding-right 135px
  padding-top 74px
  padding-bottom 96px
  background-color #D49E31
  position relative

  &__card
    width 370px
    height 268px
    padding-bottom -50px
    position relative
    z-index 1

  &__card_figcaption
    width 370px
    height 224px
    background-color white
    border-radius 20px
    justify-content center
    margin-top -60px
    position relative
    z-index 1

  &__card_subtitle
    font-size 16px
    line-height 32px
    font-weight 400
    text-align left
    margin 19px 32px 36px
    color #333333

  &__card_title
    margin-top 40px
    margin-right 167px
    margin-left 32px
    text-align left
    padding-top 40px
    font-size 24px
    line-height 32px
    font-weight 700

  &__card-one
    text-align left
    margin-top 86px

  &__card-two
    margin-left 441px
    margin-top -400px

  &__card-three
    margin-left 880px
    margin-top -390px
    margin-right auto

  &__shape
    z-index 0
    position absolute
    width 176px
    height 176px
    left 69px
    top 116px
    object-position left top
    object-fit cover
    margin 0
    padding 0

.arrows
  display flex
  margin-top 48px
  justify-content center

  &--left
    justify-content flex-start

  &__back
    height 48px
    width 48px
    border-radius 100%
    border none

    &--right
      margin-right 8px

  &__forward
    height 48px
    width 48px
    border-radius 100%
    border none

.wrap
  position absolute
  right 135px
  top 74px

  &__subtitle
    font-size 18px
    line-height 32px
    font-weight 700
    margin 0
    text-align right
    padding-bottom 18px

  &__title
    font-size 56px
    line-height 64px
    font-weight 800
    margin 0
    padding 0
    text-align right