.testimonials
  display flex
  background-color #D49E31
  padding 144px 135px
  justify-content space-between

  &__arrows
    display flex

  &__arrow_back
    height 48px
    width 48px
    border-radius 100%
    border none

  &__arrow_forward
    height 48px
    width 48px
    border-radius 100%
    border none

  &__arrow_right
    margin-right 8px

  &__card
    width 715px
    height 593px
    padding-bottom -50px
    position relative
    z-index 1
    object-fit cover
    border-radius 20px

  &__card_commas
    margin 48px 350px 133px 48px

  &__card_figcaption
    width 470px
    height 592px
    background-color white
    border-radius 20px
    justify-content center
    position relative
    margin-left -310px
    z-index 2

  &__card_paragraph
    width 374px
    height 228px
    font-size 16px
    line-height 32px
    font-weight 400
    margin 0 48px 25px

  &__card_subtitle
    font-size 16px
    line-height 32px
    font-weight 400
    text-align left
    margin 19px 32px 36px
    color #333333
    margin 0 369px 37px 48px

  &__card_title
    font-size 24px
    line-height 32px
    font-weight 700
    margin 0 255px 3px 48px

  &__cards
    display flex
    flex-direction row

  &__shape
    z-index 0
    position absolute
    width 176px
    height 176px
    left 450px
    top 6490px
    object-position left top
    object-fit cover
    margin 0
    padding 0

  &__subtitle
    font-size 18px
    line-height 32px
    font-weight 700
    margin 0
    text-align left
    padding-bottom 18px

  &__text
    margin-top 106px

  &__title
    font-size 56px
    line-height 64px
    font-weight 800
    margin 0
    padding 0
    padding-bottom 36px
    text-align left
